#!/bin/bash
#
# `cp config.example config`
#
# Create a long random passphrase and user pass and fill in below
#
# @author webworker01
# @link https://developers.atomicdex.io/basic-docs/atomicdex/atomicdex-api.html

#Path to mm2 executables
mmpath=${HOME}/atomicDEX-API/target/debug/

#Net ID to join
netid=9999

#Wallet Passphrase
passphrase=

#RPC password
userpass=

#Required confirmations
required_confirmations=2
