#!/bin/bash
#
# `cp config.example config`
#
# Create a long random passphrase and user pass and fill in below
#
# @author webworker01
# @link https://developers.atomicdex.io/basic-docs/atomicdex/atomicdex-api.html

#Path to mm2 executables
mmpath=${HOME}/atomicDEX-API/target/debug/

#Location for mmtools.log or set to blank to disable
mmtoolslogfile=$HOME/mmtools.log

#Net ID to join
netid=7777

#Wallet Passphrase / Seed Phrase
#Put double quotes around passphrases with spaces in them
passphrase=""

#RPC password
userpass=

#Required confirmations
required_confirmations=2

# (1|0) Enable automation helpers? e.g. automatically set required confs after enabling a coin
automation=1
